<table class="tabla">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cargo</th>
            <th>Fecha de contrato</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for worker in workers %}
            <tr>
                <td>{{ worker.dni }}</td>
                <td>{{ worker.name }}</td>
                <td>{{ worker.surname }}</td>
                <td>{{ worker.position }}</td>
                <td>{{ worker.contractDate }}</td>
                {% if status %}
                <td>Activo</td>
                {% else %}
                <td>Inactivo</td>
                {% endif %}
                <td><button><img class="icono-btn" src="../../static/img/anadir.png" alt=""></button></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No hay trabajadores en la empresa.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>